volumes:
  postgres_vol:
services:
  db:
    image: postgres:18
    env_file:
      - .env
    volumes:
      - postgres_vol:/var/lib/postgresql/
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=$DB_PASSWORD
  bot:
    build: .
    volumes:
      - ./google_secrets.json:/code/google_secrets.json
      - ./config.json:/code/config.json
    depends_on:
      - db
    environment:
      - DB_DSN=postgresql://$DB_USER:$DB_PASSWORD@db:$DB_PORT/$DB_DATABASE
    develop:
      watch:
        - path: ./bot
          ignore:
            - __pycache__
          action: rebuild
