[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"

[packages]
"discord.py" = ">=2.0"
alembic = "*"
gino = "*"
psycopg2 = "*"
dataclasses-json = "*"
pytz = "*"
aiogoogle = "*"
gspread = "*"
gspread-formatting = "*"
gspread_asyncio = "*"
google-api-python-client = "*"
oauth2client = "*"
